/* GOOGLE FONTS */
h1{
    font-family: 'Sacramento', cursive;
}

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(246, 245, 238) !important;
}

/* LOGO  */
.logo{
    max-width: 180px;
    width: 100%;

}

.logoNavbar{
    max-width: 120px;
    width: 100%;
    margin-left: 20px;
    margin-top: 50px;

}
/* NAVBAR */
.navbar{
    position: fixed !important;
    width: 100%;
    top:0 !important;
    height: 60px;
    line-height: 60px;
    z-index:1;
    margin: -10px 0px;
    opacity: 0.8 !important;
}

.navCustom{
    background-color: rgb(40, 40, 40) !important;
    
}

.navCustom a:hover {
    color: #505050 !important;
}

.menu a{
    color: white !important;
    margin-left: 50px;
    margin-top: 50px;
    padding: 5px 50px  !important;
    font-size: 15px;
}

.menu a:hover{
    color: #747474 !important;
}


/* SEZIONE HEADER */
.head-banner{
    background-color: #747474;
    height: 500px;
    padding-top: 8rem;
    padding-bottom: 8rem ;
    background-image: url('/images/salone2.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply ;
}

.titoloh1{
    margin-top: 100px;
    font-size: 60px;
    text-shadow:10px 10px 20px white;
    
}



.linea{
    display: block;
    height: 2px;
    width: 53px;
    margin: 0px 0px 50px 0px;
    background-color: #505050;
}
/* sezione ultime novità */
.ultimeNovita{
    background-color: #2e2e2e;
}

.ultimeNovita h5{
    margin-top: 10px;
    font-size: 25px;
    color: rgb(246, 245, 238);
}

/* SEZIONE STAFF */
.staffSection{
    background-color: #2e2e2e;
}

.staffSection h2{
    color: rgb(246, 245, 238);
}

.staffSection .imgStaff{
    min-height: 25rem; 
    width: 27rem; 
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.imgStaff:hover{
    border: 5px solid white;
}

.infoStaff{
    opacity: 0;
    transition: opacity 0.4s;
    color: white;
    font-weight: bold;
    text-align: center;
    
}

.infoStaff:hover{
    opacity: 1;
    text-shadow:5px 5px 10px black !important;
  
}

/* MAPPA GOOGLE */
.mappa{
    width: 100%;
    min-height: 500px;
    margin-top: 80px;
    
  }

/* FOOTER homepage*/
.footer{
    background-color: #282828;
    color: white;
}
.footer p{
    font-size: 15px;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer ul{
    list-style: none;
    text-align: center;
}


/* PAGINA DETTAGLIO */

/* SEZIONE HEADER PAGINA DETTAGLIO */
.headerDettaglio{
    background-color: #747474;
    height: 500px;
    padding-top: 8rem;
    padding-bottom: 8rem ;
    background-image: url('/images/imgstaff.jpg');
    background-size:cover;
    background-position: center;
    background-blend-mode: multiply ;
}

/* NAVBAR PAGINE DETTAGLIO + AREA DI SERVIZIO */
.menuDettaglio a{
    margin-left: 1000px;
    padding: 5px 50px  !important;
    font-size: 18px;
    color:  rgb(246, 245, 238) !important;
    margin-top: 50px;
}
.menuDettaglio:hover{
    color: #747474 !important;
}

.menuDettaglio2{
	margin-left: 840px;
    padding: 5px 50px  !important;
    font-size: 18px;
   
}

.menuDettaglio2 a{
	margin-top: 60px ;
    margin-bottom:20px;
	color:  rgb(246, 245, 238) !important;
}

.imgCard{
    max-width: 320px;
    width: 100%;
    margin-left: 200px;
    border: 2px solid #282828;
}

/* Pagina area gestione personale */
.bg-card{
background-color: #2e2e2e;
color:rgb(246, 245, 238) !important;
/* aggiungere un bordo colorato */
}

.titoloAreaPersonale{
    margin-top: 150px;
}

.titoloAreaPersonale > a {
    text-decoration: none !important;
    color: #2e2e2e;
}

.immagineProfilo{
    border-radius: 50%;
/* aggiungere un bordo colorato */
}

.ftAreaPersonale{
    margin-top: 350px;
    background-color: rgb(40, 40, 40) !important;
    color:  rgb(246, 245, 238) !important;
}

/* pagina servizi */
.areaRiservata{
    margin-top: 150px;
}

.areaRiservata a {
    text-decoration: none;
    color: #2e2e2e;
}

.gestionePrestazioni{
    background-color: #2e2e2e !important;
    
}

.gestionePrestazioni a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 1000px;
}

.gestionePrestazioni a:hover{
    color: rgb(230, 230, 230);
}

.btnAreaRiservata{
    background-color: #2e2e2e !important;
    color: rgb(246, 245, 238) !important;
    width:100px;
   
}

.btnAreaRiservata:hover{
    color: #747474 !important; 
}

/* sezione login */
.titolo{
    font-family: 'Sacramento', cursive !important;
    color: rgb(246, 245, 238) !important;
    font-size: 30px !important;
    margin-left: 10px;
    margin-top: 40px;
}
.titoloLogin{
    margin-top: 150px !important;
}
.form {
    width: 300px !important;
    border: 2px solid #282828;
    margin-top: 80px !important;
}
.pagineRiservate {
    margin-top: 150px !important;
    margin-bottom:300px !important;
}
.btn-accedi{
   background-color: #282828 !important;
   color: rgb(246, 245, 238) !important ;
   display: flex !important;
    align-items: center !important;
    margin: 0 auto;
}
.btn-accedi:hover{
    color: #505050 !important;
}

/* SEZIONE AREA RISERVATA */
.areaRiservata{
    margin-top: 200px;
    margin-bottom: 50px;
    
}
.areaRiservata h2{
	color:white;
	
}

.bgImg{
	background-color: #747474 !important;
   	height: 100%;
    background-image: url('/images/salone2.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply !important;
}

.cardAreaRiservata{
	margin-top:150px;
}

/* SEZIONE FORM REGISTRAZIONE STAFF */
.formRegistrazione{
    width: 600px !important;
}
.ftAreaPersonale2{
    margin-top: 50px;
    background-color: rgb(40, 40, 40) !important;
    color:  rgb(246, 245, 238) !important;
    bottom: 0px !important;
  	width: 100%;
}

.sezioneForm{
    margin-top: 150px;
}

.fotoUtente{
    width: 100%;
    width: 50px;
    border-radius: 50%;
    margin-top: 60px;
    margin-bottom:20px;
    
}

.fotoUtente2{
	 width: 100%;
    width: 50px;
    border-radius: 50%;
    margin-top: 70px;
    margin-bottom:20px;
    margin-left:50px;
}

.dropdownMenu:focus{
	background-color: grey !important;
}



@media screen and (max-width:990px){
    .logoNavbar{
        padding: 0px 0px !important;
        margin: 0px 0px;
    }
    .menu a {
        padding: 0px 0px !important;
        margin: 0px 5px;
    }

    .menuDettaglio {
        padding: 0px 0px !important;
        margin: 10px 10px;
       
    }

    .menuDettaglio a {
        padding: 0px 0px !important;
        margin: 0px 5px;
    }
    
    .menuDettaglio2{
    	padding: 0px 0px !important;
        margin: 10px 10px;
    }
    
    .menuDettaglio2 a {
        padding: 0px 0px !important;
        margin: 0px 5px;
    }

    .gestionePrestazioni a{
        padding: 0px 0px !important;
        margin: 5px 5px;
    }

    .staffSection .imgStaff{
        margin-left: 0px;
    }

   .imgCard{
    margin-left: 10px;
   }
   
   .fotoUtente{
   padding: 0px 0px !important;
        margin: 0px 5px;
   }
   .fotoUtente2{
   padding: 0px 0px !important;
        margin: 0px 5px;
   }
    

}