<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Area Riservata</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <!-- GOOGLE FONTS: -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Fira+Sans:wght@300;400;500&family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
  </head>
  
    <body>

        <!-- NavBar-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand titolo" th:href="@{/}">US - Unique Souls</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav menuDettaglio">
        <!-- questo è un refuso da un'altra pagina? perchè siamo già su area riservata -->
                <li class="nav-item">
                  <a class="nav-link riservata" th:href="@{/}">Home</a>
                  <!-- inserire il link per tornare all'area riservata -->
                </li>
              </ul>
            </div>
          </div>
      </nav>

        <!-- Header-->
        <header class="areaRiservata text-center mt-5">
          <h1 class="fw-bolder">AREA RISERVATA</h1>
          <br>
        </header>


        <div class="containerAreaRiservata">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">SERVIZI</h5>
                  <p class="card-text">AREA GESTIONE SERVIZI</p>
      
      
      
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Scegli opzioni
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" th:href="@{/gestioneprestazioni}">Mostra lista servizi</a></li>
                      <li><a class="dropdown-item" th:href="@{/formprestazioni}">Aggiungi servizi</a></li>
                    </ul>
                  </div>
      
      
                </div>
              </div>
            </div>
      
            <div class="col-12 col-md-6">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">PERSONALE</h5>
                  <p class="card-text">AREA GESTIONE PERSONALE</p>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Scegli opzioni
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" th:href="@{/gestionepersonale}">Mostra lista personale</a></li>
                      <li><a class="dropdown-item" th:href="@{/formpersonale}">Aggiungi personale</a></li>
                    </ul>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
      
        </div>




    






    <!-- Footer-->
    




    



      



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>