<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Area Riservata</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <!-- GOOGLE FONTS: -->
   	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
  </head>
  
    <body class="bgImg">
		
        <!-- NavBar-->
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid navCustom">
         	<a th:href="@{/}">
               <img src="images/uniqueSouls.png" class="nav-link logoNavbar" aria-current="page"></img>   	
         	</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav menuDettaglio">
        
                <li class="nav-item">
                  <a class="nav-link riservata" th:href="@{/}">Home</a>
                  <!-- inserire il link per tornare all'area riservata -->
                </li>
                 <li class="nav-item">
                <img src="images/fotoStaff1.jpg" class="fotoUtente">
              </li>
              </ul>
            </div>
          </div>
      </nav>

        

<section class=" areaRiservata">
 <h2 class="text-center">AREA RISERVATA</h2>
        <div class="container cardAreaRiservata">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Area gestione servizi</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Scegli opzioni
                    </button>
                    <ul class="dropdown-menu ">
                      <li><a class="dropdown-item dropdownMenu" th:href="@{/gestioneprestazioni}">Mostra lista servizi</a></li>
                      <li><a class="dropdown-item dropdownMenu" th:href="@{/formprestazioni}">Aggiungi servizi</a></li>
                    </ul>
                  </div>
      
      
                </div>
              </div>
            </div>
      
            <div class="col-12 col-lg-6">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Area gestione personale</h5>
               
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Scegli opzioni
                    </button>
                    <ul class="dropdown-menu ">
                      <li><a class="dropdown-item dropdownMenu" th:href="@{/gestionepersonale}">Mostra lista personale</a></li>
                      <li><a class="dropdown-item dropdownMenu" th:href="@{/formpersonale}">Aggiungi personale</a></li>
                    </ul>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
      
        </div>
</section>

<section class="pagineRiservate">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header gestionePrestazioni text-center">
                    <i class="fas fa-table me-1"></i>
                </div>
                
                <div class="card-body ">
                  <div class="table-responsive">
                    <table  class="table">
                        <thead>
                            <tr>
                                <th>NOME</th>
                                <th>COGNOME</th>
                                <th>E-MAIL</th>
                                <th>TELEFONO</th>
                                <th>MESSAGGIO</th>
                                <th></th>
                               
                            </tr>
                        </thead>
                        <tbody>
    
                            <tr th:each="p : ${prestazioni}">
                           <!-- 	<td th:src="${p.foto}" class="immagineProfilo"> -->
                                <td th:text="${p.tipologia}"></td>
                                <td th:text="${p.descrizione}"></td>
                                <td th:text="${p.categoria}"></td>
                                <td th:text="${p.staff.nome} + ' ' + ${p.staff.cognome}"></td>
                                <td th:text="'€ ' + ${#numbers.formatDecimal(p.prezzo,0,'POINT',2,'COMMA')}"></td>
                                <td><a type="button" class="btn btnAreaRiservata mt-3" th:href="@{/gestioneprestazioni/cancellaprestazione(id=${p.id})}">Elimina</a></td>
                              
                            </tr>
    
                        </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>

      </div>

    </div>
</section>

 <footer class="ftAreaPersonale">
          <div class="container">
            <div class="row text-center">
                <div class="col-md-8 mb-3 mb-md-0 mx-auto">
                    <address class="mt-5">Copyright ©2024. All Rights Reserved.</address>
                </div>
            </div>
        </div>
 </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>