<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Area Login</title>
    <link rel = "stylesheet" href ="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- GOOGLE FONTS: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
  	 <nav class="navbar navbar-expand-lg">
        <div class="container-fluid navCustom">
        	<a th:href="@{/}">
               <img src="images/uniqueSouls.png" class="nav-link logoNavbar" aria-current="page"></img>   	
         	</a>          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav menuDettaglio">
              <li class="nav-item">
                <a class="nav-link riservata" th:href="@{/}">Home</a>
              </li>
               <li class="nav-item">
                <img src="images/imgUtente.png" class="fotoUtente">
              </li>
            </ul>
          </div>
        </div>
    </nav>
      
    <section class="pagineRiservate">
        <div class="text-center">
            <h2 class="titoloLogin">Accedi</h2>
        </div>
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-12 col-md-8 form">
                    <form action="login/verifica" method="post" enctype="multipart/form-data">
                        <div>
                          <label for="InputUsername" class="form-label">Username</label>
                          <input name="username" type="text" id="InputUsername" class="form-control" aria-describedby="emailHelp">
                        </div>
                        <div>
                          <label for="InputPassword" class="form-label">Password</label>
                          <input name="password" type="password" id="InputPassword" class="form-control">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-accedi mb-5">Accedi</button>
                      </form>
                </div>
            </div>
        </div>
    </section>
    
     <footer class="ftAreaPersonale">
      <div class="container">
        <div class="row text-center">
            <div class="col-md-8  mb-md-0 mx-auto">
                <address class="mt-5">Copyright ©2024. All Rights Reserved.</address>
            </div>
        </div>
    </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>